.hero-img-container{
    position: relative;
    img.desktop-image{
        @include max-breakpoint(md){
            display: none;
          }
    }
    img.mobile-image{
        width: 100%;
        height: auto;
        @include min-breakpoint(md){
            display: none;
          }
    }
    .collections-header{
        display: flex;
        flex-shrink: 0;
        position: absolute;
        top: 170px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        @include max-breakpoint(lg){
            top: 60%;
        }
        @include max-breakpoint(xxs){
            left: 46%;
        }
        h5{
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 30px;
            font-weight: 300;
            color: $white;
            flex-shrink: 0;
            @include max-breakpoint(xs){
                font-size: 25px;
            }
        }
    }
}

// subtitle
.subtitle{
    background-color: $white;
    height: 105px;
    .row{
        height: 105px;
        flex-shrink: 0;
    }
    .collections-subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        h6{
            font-family: 'Lato', sans-serif;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 0;
            text-transform: capitalize;
            color: $secondary;
            flex-shrink: 0;
            @include max-breakpoint(xs){
                font-size: 19px;
            }
        }
    }
}