@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
.bx-controls-direction{
  display: none;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: $primary;
}

::selection {
  color: #fff;
  background: $primary;
}
.container{
  @include media-breakpoint-up(xs) {}
  @include media-breakpoint-up(sm) {
    max-width: 526px;
  }
  @include media-breakpoint-up(md) {
    max-width: 720px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 940px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1200px;
  }
}

#side-menu{
  position: fixed;
  display: block;
  width: 280px;
  height: 100vh;
  background-color: $primary;
  z-index: 999;

  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;

  -ms-transform: translate(-280px, 0); /* IE 9 */
  -webkit-transform: translate(-280px, 0); /* Safari */
  transform: translate(-280px, 0);

  &.active{
    -ms-transform: translate(0, 0); /* IE 9 */
    -webkit-transform: translate(0, 0); /* Safari */
    transform: translate(0, 0);

    + #site-content{
      -ms-transform: translate(280px, 0); /* IE 9 */
      -webkit-transform: translate(280px, 0); /* Safari */
      transform: translate(280px, 0);
    }
  }

  #accordion{
    .card{
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;

      .card-header{
        position: relative;
        background-color: $primary;
        border-radius: 0;
        transition: all .3s ease;
        &:hover{
          opacity: .7;
        }
        a{
          font-family: 'Lato', sans-serif;
          font-size: 18px;
          color: white;
          text-decoration: none;
        }

        .plusic{
          position: absolute;
          top: 12px;
          right: 15px;

          &.collapsed{

            svg{
              transform: rotate(0deg);
            }
          }

          svg{
            color: white;
            font-size: 16px;
            cursor: pointer;
            transform: rotate(45deg);
          }
        }
      }

      .card-body{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        p{
          a{
            text-decoration: none;
          }
        }
      }
    }
  }

}

#site-content{
  min-height: 2100px;

  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;

  .fluid-nav{
    position: fixed;
    z-index: 2;

    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;

  }

  #trigger{
    font-size: 30px;
    color: white;
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
    cursor: pointer;


    @include max-breakpoint(md){
      display: block;
      z-index: 9999 !important;
    }
  }

  #hover-over{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100%;
    opacity: 0.7;
    background-color: black;
  }
  
  .collections{
    display: block;
    width: 200px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -553px;
    z-index: 6;
    @include max-breakpoint(md){
      display: none;
    }
    // @include min-breakpoint(md){
    //   left: 60%;
    //   top: 135px;
    // }
    @include media-breakpoint-between(md, lg) {
      left: 60%;
      top: 135px;
    }
    ul{
      width:760px;
      list-style: none;
      border-left: 1px solid white;
      height: 0;
      overflow-y: hidden;
      margin-top: 30px;

      -webkit-transition: all 0.5s; /* Safari */
      transition: all 0.5s;

      &.open{
        height: fit-content;
      }
      &#double{
        li{
          @include max-breakpoint(xl){
            width:50%;
          }
        }
        
      }

      li{
        float:left;
  display:inline;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 22px;
        margin-bottom: 20px;
        text-transform: capitalize;
        line-height: 100%;
        width: 100%;
        &:last-child{
          margin-bottom: 0;
        }

        a{
          color: white;

          -webkit-transition: all 0.5s; /* Safari */
          transition: all 0.5s;

          &:hover{
            text-decoration: none;
            opacity: 0.5;
          }
        }
      }
      
    }

    .js-hover{
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 30px;
      text-transform: uppercase;
      color: white;

      &:hover{
        text-decoration: none;
      }
    }
  }

  .navbar{
    height: 100px;
    z-index: 5;

    #logo{
      position: absolute;
      left: 0;
      top: 0;
      padding: 20px 0;
      @include max-breakpoint(md){
        width: 100%;
        text-align: center;
      }
    }

    .nav-item{
      position: relative;

      @include max-breakpoint(md){
        display: none;
      }

      &:last-child{
        margin-left: 40px;

        .nav-link{

          &:hover{
            opacity: 1;
          }
        }

        span{
          margin-right: 13px;
          text-transform: lowercase;
          opacity: 0.5;

          -webkit-transition: all 0.5s; /* Safari */
          transition: all 0.5s;

          &.active{
            opacity: 1;
          }

          &:hover{
            opacity: 1;
          }
        }
      }

      .box{
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        right: -5px;
        top: 14px ;
        background: $primary;
      }

      .nav-link{
        text-transform: uppercase;
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: 300;

        -webkit-transition: all 0.5s; /* Safari */
        transition: all 0.5s;

        &:hover{
          opacity: 0.5;
        }
      }
    }
  }

  .bx-wrapper{
    border: none;
    margin-bottom: 0;
    background-color: #000;
    .bx-pager{
      display: none;
    }
  }
  // .slider2{
  //   height: auto;
  //   @include min-breakpoint(md){
  //     display: none;
  //   }
  //   > div{
  //     width: 100vw;
  //     height: auto;
  //     background-size: cover; 
  //     background-repeat: no-repeat;
  //     background-position: top center;

  //     img{
  //       height: auto;
  //       width: 100%;
  //       opacity: .4;
  //     }
  //   }
  // }
  .slider{
    height: auto;
    // @include max-breakpoint(md){
    //   display: none;
    // }
    > div{
      width: 100vw;
      height: auto;
      background-size: cover; 
      background-repeat: no-repeat;
      background-position: top center;

      img.desktop-image{
        height: auto;
        width: 100%;
        opacity: .4;
        @include max-breakpoint(md){
          display: none;
        }
      }
      img.mobile-image{
        height: auto;
        width: 100%;
        opacity: .4;
        @include min-breakpoint(md){
          display: none;
        }
      }
    }
  }

  .two-parts{
   

    .left-side{
      padding: 0;

      img{
        width: 100%;
        height: auto;
      }
    }

    .right-side{
      padding: 55px;

      h2{
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        color: $primary;
        font-size: 30px;
        margin-bottom: 40px;
      }

      h1{
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: $primary;
        margin-bottom: 45px;
      }

      p{
        margin-bottom: 45px;
        color: $secondary;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
      }

      button{
        border-radius: 0;
        font-family: 'Lato', sans-serif;
        color: white;
      }
    }
  }

  .large-border{
    background-color: $primary;
    height: 80px;
    @include max-breakpoint(xs){
      margin-top: -30px;
    }
  }

  .parent-flex-container{
    padding: 0;
    display: none;

    .flex-container{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      background-color: black;

      .col{
        position: relative;
        padding: 0;
        flex: auto;
        box-sizing: border-box;

        &:hover{

          img{
            -webkit-transition: all 0.5s; /* Safari */
            transition: all 0.5s;

            opacity: 0.7;
          }

          a{

            &.btn{
              display: block;
            }
          }

        }

        h5{
          position: absolute;
          text-align: right;
          font-family: 'Lato', sans-serif;
          font-size: 22px;
          top: 40px;
          right: 40px;

          a{
            color: white;

            -webkit-transition: all 0.5s; /* Safari */
            transition: all 0.5s;

            &:hover{
              text-decoration: none;
              opacity: 0.7;
            }
          }
        }

        p{
          position: absolute;
          text-align: right;
          font-family: 'Lato', sans-serif;
          font-size: 16px;
          color: white;
          top: 80px;
          right: 40px;
          padding-left: 40px;
          font-weight: 300;
        }

        img{
          width: 100%;
          height: auto;
        }

        a{
          -webkit-transition: all 0.5s; /* Safari */
          transition: all 0.5s;

          &.btn{
            display: none;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            position: absolute;
            bottom: 40px;
            right: 40px;
            border-radius: 0;
          }
        }
      }
    }
  }

  .carousel{
    .news{
      padding: 0 30px;
    }
    h5{
      margin-top: 60px;
      font-family: 'Lato', sans-serif;
      font-size: 30px;
      text-align: center;
      color: $black;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    p{
      text-align: center;
      color: $secondary;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
    }

    .owl-carousel{
      position: relative;
      margin-bottom: 70px;

      .item{
        display: block;
       width: fit-content;
        height: auto;
        margin: 0 auto;
        // padding-left: 5px;

        .text-holder{
          padding: 20px;

          h5{
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 15px;

            a{
              color: $primary;

              -webkit-transition: all 0.5s; /* Safari */
              transition: all 0.5s;

              &:hover{
                text-decoration: none;
                opacity: 0.7;
              }
            }
          }

          p{
            color: $secondary;
            font-size: 16px;
            text-align: center;
            margin-bottom: 0;

            &.date{
              /*font-style: italic;*/
              font-size: 14px;
              margin-bottom: 10px;

              span{
                display: block;
                width: 85px;
                margin-left: auto;
                margin-right: auto;
                border-bottom: 1px solid $secondary;
              }
            }
          }
        }
      }

      .owl-nav{
        position: absolute;
        top: -40px;
        right: 0;
        display: block;
        width: 40px;
        height: 16px;
        z-index: 10 !important;
        @include media-breakpoint-down(sm) {
          position: absolute;
          left: 245px;
          top: 460px;
        }
        @include media-breakpoint-down(xs) {
         display: none;
        }

        .owl-prev{
          display: block;
          width: 9px;
          height: 16px;
          background-image: url('../img/left-arrow.png');
          float: left;
          
        }

        .owl-next{
          display: block;
          width: 9px;
          height: 16px;
          background-image: url('../img/right-arrow.png');
          float: right;
          
        }
      }

    }
  }

  .footer-back{
    background-color: $footer-back;
  }
  
  footer{
    .kolekcije2{
      @include media-breakpoint-down(md) {
        display: none;
      }
    
    }
    padding: 50px 0;
    .terms{
      @include media-breakpoint-down(xs) {
        margin-bottom: 0px;
        text-align: center;
      }
    }
    .logo-social{
      @include media-breakpoint-down(xs) {
        margin-bottom: 30px;
        text-align: center;
      }
    }
    .kontakt{
      @include media-breakpoint-down(sm) {
        margin-top: 30px;
      }
      @include media-breakpoint-down(xs) {
        text-align: center;
      }
    }
    p{
      text-transform: uppercase;
      color: white;
      @include media-breakpoint-down(xs) {
        margin-bottom: 0px;
      }
      a{

        color: white;

        -webkit-transition: all 0.5s; /* Safari */
        transition: all 0.5s;

        &:hover{
          text-decoration: none;
          opacity: 0.7;
        }
      }

      &.social{
        margin-top: 20px;
        position: relative;
        a{
          

          &:first-child{
            margin-left: 35px;
            
              @include media-breakpoint-down(xs) {
                margin-left: 0;
              }
            }
          

          &:nth-child(2){
            margin-left: 20px;
          }

          svg{
            color: white;
            font-size: 22px;
          }
        }
      }
    }

    ul{
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      svg{
        color: white;
      }

      li{
        position: relative;
        padding-left: 0;

        a{
          color: white;

          -webkit-transition: all 0.5s; /* Safari */
          transition: all 0.5s;

          &:hover{
            text-decoration: none;
            opacity: 0.7;
          }
        }
      }

      &.address{

        li{
          padding-left: 30px;

          svg{

            &.fa-map-marker-alt{
              position: absolute;
              top: 5px;
              left: 0;
            }

            &.fa-phone{
              position: absolute;
              top: 5px;
              left: 0;
            }

            &.fa-envelope{
              position: absolute;
              top: 5px;
              left: 0;
            }
          }
        }

      }
    }
  }




}

